# Logs
.terraform/
terraform.tfstate
terraform.tfstate.backup
.terraform.lock.hcl
**/*.pem
**/*.env

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# ignore ansible hosts file
k3s/ansible/hosts