[defaults]
# skip typing -inventory every time by specifying the inventory file here
inventory = hosts
# enable SSH host key checking; handle dynamic hosts via managed known_hosts entries instead of disabling this
remote_user = ubuntu
# specify the number of parallel processes to use when executing tasks
forks = 10
# use the default callback plugin to display output in a human-readable format
stdout_callback = ansible.builtin.default
# output as yaml
result_format = yaml
host_key_checking = False
